<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--参数配置文件，请不要修改任何地方，否则程序可能无法启动！-->
<等值线参数>
  <搜索类型 value="1" />
  <指定搜索数值>
    <数值个数 value="27" />
    <数值1 数值="2" 文字="2mm" 边界颜色="FF000000" 填充颜色="FFB8B8FF"  线粗="1" 线型="4"/>
    <数值2 数值="5" 文字="5mm" 边界颜色="FF7F99E4" 填充颜色="FF7F99E4"  线粗="1" 线型="4"/>
    <数值3 数值="10" 文字="10mm" 边界颜色="FF7FB4D1" 填充颜色="FF7FB4D1"  线粗="1" 线型="4"/>
    <数值4 数值="15" 文字="15mm" 边界颜色="FF7FD1B4" 填充颜色="FF7FD1B4"  线粗="1" 线型="4"/>
    <数值5 数值="20" 文字="20mm" 边界颜色="FFC8FF96" 填充颜色="FFC8FF96"  线粗="1" 线型="4"/>
    <数值6 数值="25" 文字="25mm" 边界颜色="FF95FE78" 填充颜色="FF95FE78"  线粗="1" 线型="4"/>
    <数值7 数值="30" 文字="30mm" 边界颜色="FF64F964" 填充颜色="FF64F964"  线粗="1" 线型="4"/>
    <数值8 数值="35" 文字="35mm" 边界颜色="FF32F032" 填充颜色="FF32F032"  线粗="1" 线型="4"/>
    <数值9 数值="40" 文字="40mm" 边界颜色="FFFEFEB4" 填充颜色="FFFEFEB4"  线粗="1" 线型="4"/>
    <数值10 数值="45" 文字="45mm" 边界颜色="FFFFFF82" 填充颜色="FFFFFF82"  线粗="1" 线型="4"/>
    <数值11 数值="50" 文字="50mm" 边界颜色="FFFFFA50" 填充颜色="FFFFFA50"  线粗="1" 线型="4"/>
    <数值12 数值="55" 文字="55mm" 边界颜色="FFFFF032" 填充颜色="FFFFF032"  线粗="1" 线型="4"/>
    <数值13 数值="60" 文字="60mm" 边界颜色="FFFFD296" 填充颜色="FFFFD296"  线粗="1" 线型="4"/>
    <数值14 数值="65" 文字="65mm" 边界颜色="FFFFB478" 填充颜色="FFFFB478"  线粗="1" 线型="4"/>
    <数值15 数值="70" 文字="70mm" 边界颜色="FFFF965A" 填充颜色="FFFF965A"  线粗="1" 线型="4"/>
    <数值16 数值="75" 文字="75mm" 边界颜色="FFFF6432" 填充颜色="FFFF6432"  线粗="1" 线型="4"/>
    <数值17 数值="80" 文字="80mm" 边界颜色="FFFF4B28" 填充颜色="FFFF4B28"  线粗="1" 线型="4"/>
    <数值18 数值="85" 文字="85mm" 边界颜色="FFFF321E" 填充颜色="FFFF321E"  线粗="1" 线型="4"/>
    <数值19 数值="90" 文字="90mm" 边界颜色="FFFF1913" 填充颜色="FFFF1913"  线粗="1" 线型="4"/>
    <数值20 数值="95" 文字="95mm" 边界颜色="FFFF0A0A" 填充颜色="FFFF0A0A"  线粗="1" 线型="4"/>
    <数值21 数值="100" 文字="100mm" 边界颜色="FFEB0000" 填充颜色="FFEB0000"  线粗="1" 线型="4"/>
    <数值22 数值="105" 文字="105mm" 边界颜色="FFCD0000" 填充颜色="FFCD0000"  线粗="1" 线型="4"/>
    <数值23 数值="110" 文字="110mm" 边界颜色="FFAF0000" 填充颜色="FFAF0000"  线粗="1" 线型="4"/>
    <数值24 数值="115" 文字="115mm" 边界颜色="FFC300C3" 填充颜色="FFC300C3"  线粗="1" 线型="4"/>
    <数值25 数值="120" 文字="120mm" 边界颜色="FFA500A5" 填充颜色="FFA500A5"  线粗="1" 线型="4"/>
    <数值26 数值="125" 文字="125mm" 边界颜色="FF870000" 填充颜色="FF870000"  线粗="1" 线型="4"/>
    <数值27 数值="130" 文字="130mm" 边界颜色="FF6E006E" 填充颜色="FF6E006E"  线粗="1" 线型="4"/>
  </指定搜索数值>
  <搜索条数 value="20" />
  <基准线 value="0" />
  <搜索步长 value="2" />
  <最大值 value="5" />
  <最小值 value="-5" />
  <使用指定最小值 value="False" />
  <使用指定最大值 value="False" />
  <线粗 value="1" />
  <线型 value="4" />
  <等值线颜色表 value="0" />
  <等值线默认颜色 R="0" G="0" B="0" />
  <显示等值线 value="True" />
  <显示数值在等值线上 value="False" />
  <显示单位在等值线上 value="False" />
  <显示单位在色标上 value="True" />
  <文字间隔 value="1" />
  <文字大小 value="9" />
  <文字加粗 value="False" />
  <文字旋转 value="False" />
  <文字与曲线同色 value="False" />
  <样条插值 value="True" />
  <伪彩色填充 value="True" />
  <伪彩色填充类型 value="1" />
  <伪彩色填充颜色表 value="1" />
  <伪彩色填充透明度 value="200" />
  <显示节点 value="False" />
  <显示三角形 value="False" />
  <显示箭头 value="False" />
  <最小颜色号 value="0" />
  <最大颜色号 value="205" />
  <数值格式 value="0" />
  <数值单位 value="" />
</等值线参数>