<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--参数配置文件，请不要修改任何地方，否则程序可能无法启动！-->
<等值线参数>
  <搜索类型 value="2" />
  <指定搜索数值>
    <数值个数 value="26" />
    <数值1 数值="-60" 文字="-60" 边界颜色="FF000000" 填充颜色="FF330D80" 线粗="1" 线型="4" />
    <数值2 数值="-48" 文字="-48" 边界颜色="FF000000" 填充颜色="FF462192" 线粗="1" 线型="4" />
    <数值3 数值="-44" 文字="-44" 边界颜色="FF000000" 填充颜色="FF5440B6" 线粗="1" 线型="4" />
    <数值4 数值="-40" 文字="-40" 边界颜色="FF000000" 填充颜色="FF4349C9" 线粗="1" 线型="4" />
    <数值5 数值="-36" 文字="-36" 边界颜色="FF000000" 填充颜色="FF4D66D2" 线粗="1" 线型="4" />
    <数值6 数值="-32" 文字="-32" 边界颜色="FF000000" 填充颜色="FF5775D5" 线粗="1" 线型="4" />
    <数值7 数值="-28" 文字="-28" 边界颜色="FF000000" 填充颜色="FF4F97E1" 线粗="1" 线型="4" />
    <数值8 数值="-24" 文字="-24" 边界颜色="FF000000" 填充颜色="FF84B9FB" 线粗="1" 线型="4" />
    <数值9 数值="-20" 文字="-20" 边界颜色="FF000000" 填充颜色="FF6CC6EC" 线粗="1" 线型="4" />
    <数值10 数值="-16" 文字="-16" 边界颜色="FF000000" 填充颜色="FF73E1E7" 线粗="1" 线型="4" />
    <数值11 数值="-12" 文字="-12" 边界颜色="FF000000" 填充颜色="FFABF7EB" 线粗="1" 线型="4" />
    <数值12 数值="-8" 文字="-8" 边界颜色="FF000000" 填充颜色="FFCBFBDA" 线粗="1" 线型="4" />
    <数值13 数值="-4" 文字="-4" 边界颜色="FF000000" 填充颜色="FFEEFDCA" 线粗="1" 线型="4" />
    <数值14 数值="-0.1" 文字="0" 边界颜色="FF000000" 填充颜色="FFF9FAD5" 线粗="1" 线型="4" />
    <数值15 数值="4" 文字="4" 边界颜色="FF000000" 填充颜色="FFFFF2AC" 线粗="1" 线型="4" />
    <数值16 数值="8" 文字="8" 边界颜色="FF000000" 填充颜色="FFFDE37D" 线粗="1" 线型="4" />
    <数值17 数值="12" 文字="12" 边界颜色="FF000000" 填充颜色="FFFDE37D" 线粗="1" 线型="4" />
    <数值18 数值="16" 文字="16" 边界颜色="FF000000" 填充颜色="FFFAA644" 线粗="1" 线型="4" />
    <数值19 数值="20" 文字="20" 边界颜色="FF000000" 填充颜色="FFFA9200" 线粗="1" 线型="4" />
    <数值20 数值="24" 文字="24" 边界颜色="FF000000" 填充颜色="FFFF791A" 线粗="1" 线型="4" />
    <数值21 数值="28" 文字="28" 边界颜色="FF000000" 填充颜色="FFF05D04" 线粗="1" 线型="4" />
    <数值22 数值="32" 文字="32" 边界颜色="FF000000" 填充颜色="FFF74F14" 线粗="1" 线型="4" />
    <数值23 数值="36" 文字="36" 边界颜色="FF000000" 填充颜色="FFFC2603" 线粗="1" 线型="4" />
    <数值24 数值="40" 文字="40" 边界颜色="FF000000" 填充颜色="FFE70000" 线粗="1" 线型="4" />
    <数值25 数值="44" 文字="44" 边界颜色="FF000000" 填充颜色="FFD50637" 线粗="1" 线型="4" />
    <数值26 数值="48" 文字="48" 边界颜色="FF000000" 填充颜色="FFBB012D" 线粗="1" 线型="4" />
  </指定搜索数值>
  <搜索条数 value="20" />
  <基准线 value="0" />
  <搜索步长 value="0.02" />
  <最大值 value="5" />
  <最小值 value="-5" />
  <使用指定最小值 value="False" />
  <使用指定最大值 value="False" />
  <线粗 value="1" />
  <线型 value="4" />
  <等值线颜色表 value="0" />
  <等值线默认颜色 R="0" G="0" B="0" />
  <显示等值线 value="True" />
  <显示数值在等值线上 value="True" />
  <显示单位在等值线上 value="False" />
  <显示单位在色标上 value="True" />
  <文字间隔 value="1" />
  <文字大小 value="9" />
  <文字加粗 value="False" />
  <文字旋转 value="False" />
  <文字与曲线同色 value="False" />
  <样条插值 value="True" />
  <伪彩色填充 value="True" />
  <伪彩色填充类型 value="1" />
  <伪彩色填充颜色表 value="1" />
  <伪彩色填充透明度 value="200" />
  <显示节点 value="False" />
  <显示三角形 value="False" />
  <显示箭头 value="False" />
  <最小颜色号 value="0" />
  <最大颜色号 value="205" />
  <数值格式 value="0.00" />
  <数值单位 value="" />
</等值线参数>