<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--参数配置文件，请不要修改任何地方，否则程序可能无法启动！-->
<等值线参数>
  <搜索类型 value="1" />
  <指定搜索数值>
    <数值个数 value="10" />
    <数值1 数值="12" 文字="12" 边界颜色="FF000000" 填充颜色="FF002DFF" 线粗="1" 线型="4" />
    <数值2 数值="14" 文字="14" 边界颜色="FF00E9FF" 填充颜色="FF00E9FF" 线粗="1" 线型="4" />
    <数值3 数值="16" 文字="16" 边界颜色="FF00FF58" 填充颜色="FF00FF58" 线粗="1" 线型="4" />
    <数值4 数值="18" 文字="18" 边界颜色="FF5DFF00" 填充颜色="FF5DFF00" 线粗="1" 线型="4" />
    <数值5 数值="20" 文字="20" 边界颜色="FFBAFF00" 填充颜色="FFBAFF00" 线粗="1" 线型="4" />
    <数值6 数值="22" 文字="22" 边界颜色="FFFFE900" 填充颜色="FFFFE900" 线粗="1" 线型="4" />
    <数值7 数值="24" 文字="24" 边界颜色="FFFFA000" 填充颜色="FFFFA000" 线粗="1" 线型="4" />
    <数值8 数值="26" 文字="26" 边界颜色="FFFF5400" 填充颜色="FFFF5400" 线粗="1" 线型="4" />
    <数值9 数值="28" 文字="28" 边界颜色="FFFF2800" 填充颜色="FFFF2800" 线粗="1" 线型="4" />
    <数值10 数值="30" 文字="30" 边界颜色="FFFF0000" 填充颜色="FFFF0000" 线粗="1" 线型="4" />
  </指定搜索数值>
  <搜索条数 value="20" />
  <基准线 value="12" />
  <搜索步长 value="2" />
  <最大值 value="40" />
  <最小值 value="12" />
  <使用指定最小值 value="True" />
  <使用指定最大值 value="True" />
  <线粗 value="1" />
  <线型 value="4" />
  <等值线颜色表 value="1" />
  <等值线默认颜色 R="0" G="0" B="0" />
  <显示等值线 value="True" />
  <显示数值在等值线上 value="False" />
  <显示单位在等值线上 value="False" />
  <显示单位在色标上 value="True" />
  <文字间隔 value="1" />
  <文字大小 value="9" />
  <文字加粗 value="False" />
  <文字旋转 value="False" />
  <文字与曲线同色 value="False" />
  <样条插值 value="True" />
  <伪彩色填充 value="True" />
  <伪彩色填充类型 value="1" />
  <伪彩色填充颜色表 value="1" />
  <伪彩色填充透明度 value="190" />
  <显示节点 value="False" />
  <显示三角形 value="False" />
  <显示箭头 value="False" />
  <最小颜色号 value="19" />
  <最大颜色号 value="193" />
  <数值格式 value="0" />
  <数值单位 value="m/s" />
</等值线参数>