<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--参数配置文件，请不要修改任何地方，否则程序可能无法启动！-->
<等值线参数>
  <搜索类型 value="1" />
  <指定搜索数值>
    <数值个数 value="9" />
    <数值1 数值="60" 文字="60" 边界颜色="FF15FF15" 填充颜色="FFEBFFEB" 线粗="1" 线型="4" />
    <数值2 数值="65" 文字="65" 边界颜色="FFE1F5EB" 填充颜色="FFE1F5EB" 线粗="1" 线型="4" />
    <数值3 数值="70" 文字="70" 边界颜色="FFCDEBCD" 填充颜色="FFCDEBCD" 线粗="1" 线型="4" />
    <数值4 数值="75" 文字="75" 边界颜色="FFB9E1B9" 填充颜色="FFB9E1B9" 线粗="1" 线型="4" />
    <数值5 数值="80" 文字="80" 边界颜色="FF9BD79B" 填充颜色="FF9BD79B" 线粗="1" 线型="4" />
    <数值6 数值="85" 文字="85" 边界颜色="FF7DCD7D" 填充颜色="FF7DCD7D" 线粗="1" 线型="4" />
    <数值7 数值="90" 文字="90" 边界颜色="FF5FC35F" 填充颜色="FF5FC35F" 线粗="1" 线型="4" />
    <数值8 数值="95" 文字="95" 边界颜色="FF4BB94B" 填充颜色="FF4BB94B" 线粗="1" 线型="4" />
    <数值9 数值="100" 文字="100" 边界颜色="FF4BB941" 填充颜色="FF4BB941" 线粗="1" 线型="4" />
  </指定搜索数值>
  <搜索条数 value="20" />
  <基准线 value="0" />
  <搜索步长 value="2" />
  <最大值 value="5" />
  <最小值 value="-5" />
  <使用指定最小值 value="False" />
  <使用指定最大值 value="False" />
  <线粗 value="1" />
  <线型 value="4" />
  <等值线颜色表 value="0" />
  <等值线默认颜色 R="0" G="0" B="0" />
  <显示等值线 value="True" />
  <显示数值在等值线上 value="False" />
  <显示单位在等值线上 value="False" />
  <显示单位在色标上 value="True" />
  <文字间隔 value="1" />
  <文字大小 value="9" />
  <文字加粗 value="False" />
  <文字旋转 value="False" />
  <文字与曲线同色 value="False" />
  <样条插值 value="True" />
  <伪彩色填充 value="True" />
  <伪彩色填充类型 value="1" />
  <伪彩色填充颜色表 value="1" />
  <伪彩色填充透明度 value="200" />
  <显示节点 value="False" />
  <显示三角形 value="False" />
  <显示箭头 value="False" />
  <最小颜色号 value="0" />
  <最大颜色号 value="205" />
  <数值格式 value="0" />
  <数值单位 value="" />
</等值线参数>